1.Read the dataset

In [6]:
import numpy as np
import pandas as pd
bankdata = pd.read_csv('/content/bank.csv')
bankdata

      RowNumber  CustomerId  ... EstimatedSalary  Exited
0             1    15634602  ...       101348.88       1
1             2    15647311  ...       112542.58       0
2             3    15619304  ...       113931.57       1
3             4    15701354  ...        93826.63       0
4             5    15737888  ...        79084.10       0
5             6    15574012  ...       149756.71       1
6             7    15592531  ...        10062.80       0
7             8    15656148  ...       119346.88       1
8             9    15792365  ...        74940.50       0
9            10    15592389  ...        71725.73       0
10           11    15767821  ...        80181.12       0
11           12    15737173  ...        76390.01       0
12           13    15632264  ...        26260.98       0
13           14    15691483  ...       190857.79       0
14           15    15600882  ...        65951.65       0
15           16    15643966  ...        64327.26       0
16           17    15737452  ...         5097.67       1
17           18    15788218  ...        14406.41       0
18           19    15661507  ...       158684.81       0
19           20    15568982  ...        54724.03       0
20           21    15577657  ...       170886.17       0
21           22    15597945  ...       138555.46       0
22           23    15699309  ...       118913.53       1
23           24    15725737  ...         8487.75       0
24           25    15625047  ...       187616.16       0
25           26    15738191  ...       124508.29       0
26           27    15736816  ...       170041.95       0
27           28    15700772  ...        38433.35       0
28           29    15728693  ...       100187.43       0
29           30    15656300  ...        53483.21       0
...         ...         ...  ...             ...     ...
9970       9971    15587133  ...       119377.36       0
9971       9972    15721377  ...       166472.81       0
9972       9973    15747927  ...       171552.02       0
9973       9974    15806455  ...       157474.10       0
9974       9975    15695474  ...        13549.24       0
9975       9976    15666295  ...       196526.55       1
9976       9977    15656062  ...        84419.78       0
9977       9978    15579969  ...        24991.92       0
9978       9979    15703563  ...       191608.97       0
9979       9980    15692664  ...         2988.28       0
9980       9981    15719276  ...        99595.67       0
9981       9982    15672754  ...        53445.17       1
9982       9983    15768163  ...       115146.40       1
9983       9984    15656710  ...       151325.24       0
9984       9985    15696175  ...        51695.41       0
9985       9986    15586914  ...        96833.00       0
9986       9987    15581736  ...        34047.54       0
9987       9988    15588839  ...         1914.41       0
9988       9989    15589329  ...        49337.84       0
9989       9990    15605622  ...       179436.60       0
9990       9991    15798964  ...        53667.08       0
9991       9992    15769959  ...        69384.71       1
9992       9993    15657105  ...       195192.40       0
9993       9994    15569266  ...        29179.52       0
9994       9995    15719294  ...       167773.55       0
9995       9996    15606229  ...        96270.64       0
9996       9997    15569892  ...       101699.77       0
9997       9998    15584532  ...        42085.58       1
9998       9999    15682355  ...        92888.52       1
9999      10000    15628319  ...        38190.78       0

[10000 rows x 14 columns]

In [8]:
bankdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [9]:
bankdata.isna()

      RowNumber  CustomerId  Surname  ...  IsActiveMember  EstimatedSalary  Exited
0         False       False    False  ...           False            False   False
1         False       False    False  ...           False            False   False
2         False       False    False  ...           False            False   False
3         False       False    False  ...           False            False   False
4         False       False    False  ...           False            False   False
5         False       False    False  ...           False            False   False
6         False       False    False  ...           False            False   False
7         False       False    False  ...           False            False   False
8         False       False    False  ...           False            False   False
9         False       False    False  ...           False            False   False
10        False       False    False  ...           False            False   False
11        False       False    False  ...           False            False   False
12        False       False    False  ...           False            False   False
13        False       False    False  ...           False            False   False
14        False       False    False  ...           False            False   False
15        False       False    False  ...           False            False   False
16        False       False    False  ...           False            False   False
17        False       False    False  ...           False            False   False
18        False       False    False  ...           False            False   False
19        False       False    False  ...           False            False   False
20        False       False    False  ...           False            False   False
21        False       False    False  ...           False            False   False
22        False       False    False  ...           False            False   False
23        False       False    False  ...           False            False   False
24        False       False    False  ...           False            False   False
25        False       False    False  ...           False            False   False
26        False       False    False  ...           False            False   False
27        False       False    False  ...           False            False   False
28        False       False    False  ...           False            False   False
29        False       False    False  ...           False            False   False
...         ...         ...      ...  ...             ...              ...     ...
9970      False       False    False  ...           False            False   False
9971      False       False    False  ...           False            False   False
9972      False       False    False  ...           False            False   False
9973      False       False    False  ...           False            False   False
9974      False       False    False  ...           False            False   False
9975      False       False    False  ...           False            False   False
9976      False       False    False  ...           False            False   False
9977      False       False    False  ...           False            False   False
9978      False       False    False  ...           False            False   False
9979      False       False    False  ...           False            False   False
9980      False       False    False  ...           False            False   False
9981      False       False    False  ...           False            False   False
9982      False       False    False  ...           False            False   False
9983      False       False    False  ...           False            False   False
9984      False       False    False  ...           False            False   False
9985      False       False    False  ...           False            False   False
9986      False       False    False  ...           False            False   False
9987      False       False    False  ...           False            False   False
9988      False       False    False  ...           False            False   False
9989      False       False    False  ...           False            False   False
9990      False       False    False  ...           False            False   False
9991      False       False    False  ...           False            False   False
9992      False       False    False  ...           False            False   False
9993      False       False    False  ...           False            False   False
9994      False       False    False  ...           False            False   False
9995      False       False    False  ...           False            False   False
9996      False       False    False  ...           False            False   False
9997      False       False    False  ...           False            False   False
9998      False       False    False  ...           False            False   False
9999      False       False    False  ...           False            False   False

[10000 rows x 14 columns]

2. Drop the columns which are unique for all users like IDs (2.5 points)

In [11]:
bankdata = bankdata.drop(['Surname','CustomerId','RowNumber'], axis=1)
bankdata

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
5             645     Spain    Male  ...               0        149756.71       1
6             822    France    Male  ...               1         10062.80       0
7             376   Germany  Female  ...               0        119346.88       1
8             501    France    Male  ...               1         74940.50       0
9             684    France    Male  ...               1         71725.73       0
10            528    France    Male  ...               0         80181.12       0
11            497     Spain    Male  ...               0         76390.01       0
12            476    France  Female  ...               0         26260.98       0
13            549    France  Female  ...               0        190857.79       0
14            635     Spain  Female  ...               1         65951.65       0
15            616   Germany    Male  ...               1         64327.26       0
16            653   Germany    Male  ...               0          5097.67       1
17            549     Spain  Female  ...               1         14406.41       0
18            587     Spain    Male  ...               0        158684.81       0
19            726    France  Female  ...               1         54724.03       0
20            732    France    Male  ...               1        170886.17       0
21            636     Spain  Female  ...               0        138555.46       0
22            510     Spain  Female  ...               0        118913.53       1
23            669    France    Male  ...               1          8487.75       0
24            846    France  Female  ...               1        187616.16       0
25            577    France    Male  ...               1        124508.29       0
26            756   Germany    Male  ...               1        170041.95       0
27            571    France    Male  ...               0         38433.35       0
28            574   Germany  Female  ...               1        100187.43       0
29            411    France    Male  ...               1         53483.21       0
...           ...       ...     ...  ...             ...              ...     ...
9970          518    France    Male  ...               0        119377.36       0
9971          833    France  Female  ...               0        166472.81       0
9972          758    France    Male  ...               0        171552.02       0
9973          611    France    Male  ...               1        157474.10       0
9974          583    France    Male  ...               0         13549.24       0
9975          610   Germany    Male  ...               0        196526.55       1
9976          637    France  Female  ...               0         84419.78       0
9977          683    France  Female  ...               1         24991.92       0
9978          774    France    Male  ...               0        191608.97       0
9979          677    France  Female  ...               1          2988.28       0
9980          741     Spain    Male  ...               0         99595.67       0
9981          498   Germany    Male  ...               1         53445.17       1
9982          655   Germany  Female  ...               0        115146.40       1
9983          613    France    Male  ...               0        151325.24       0
9984          602   Germany    Male  ...               1         51695.41       0
9985          659    France    Male  ...               0         96833.00       0
9986          673   Germany    Male  ...               1         34047.54       0
9987          606     Spain    Male  ...               1          1914.41       0
9988          775    France    Male  ...               0         49337.84       0
9989          841     Spain    Male  ...               1        179436.60       0
9990          714   Germany    Male  ...               0         53667.08       0
9991          597    France  Female  ...               0         69384.71       1
9992          726     Spain    Male  ...               0        195192.40       0
9993          644    France    Male  ...               0         29179.52       0
9994          800    France  Female  ...               0        167773.55       0
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

Distinguish the feature and target set (2.5 points)

In [12]:
features = bankdata.drop(['Exited'], axis =1)
target = bankdata['Exited']
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
dtypes: float64(2), int64(6), object(2)
memory usage: 781.3+ KB

In [17]:
bankdata.Exited.value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

Label encoding for object data

In [0]:
from sklearn import preprocessing

labelencode1 = preprocessing.LabelEncoder()
labelencode2 = preprocessing.LabelEncoder()

features["Geography"] = labelencode1.fit_transform(features["Geography"])
features["Gender"] = labelencode2.fit_transform(features["Gender"])

In [15]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
CreditScore        10000 non-null int64
Geography          10000 non-null int64
Gender             10000 non-null int64
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
dtypes: float64(2), int64(8)
memory usage: 781.3 KB

4.Divide the data set into Train and test sets

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.3,random_state = 123)

Normalize the train and test data (2.5 points)

In [28]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_train.shape

(7000, 10)

Using Tenserflow

In [0]:
import keras
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
#Initialize Sequential Graph (model)
model = tf.keras.Sequential()

#Add Dense layer for prediction - Keras declares weights and bias automatically
model.add(tf.keras.layers.Dense(1, input_shape=(10,)))

#Compile the model - add Loss and Gradient Descent optimizer
model.compile(optimizer='sgd', loss='mse')

In [0]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

Fitting the model

In [35]:
model.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

WARNING:tensorflow:The `nb_epoch` argument in `fit` has been renamed `epochs`.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Train on 7000 samples
Epoch 1/100
7000/7000 [==============================] - 1s 112us/sample - loss: 0.4593 - acc: 0.7959
Epoch 2/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4600 - acc: 0.7951
Epoch 3/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.4708 - acc: 0.7949
Epoch 4/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.4625 - acc: 0.7957
Epoch 5/100
7000/7000 [==============================] - 1s 91us/sample - loss: 0.4688 - acc: 0.7943
Epoch 6/100
7000/7000 [==============================] - 1s 90us/sample - loss: 0.4547 - acc: 0.7961
Epoch 7/100
7000/7000 [==============================] - 1s 89us/sample - loss: 0.4619 - acc: 0.7963
Epoch 8/100
7000/7000 [==============================] - 1s 91us/sample - loss: 0.4608 - acc: 0.7940
Epoch 9/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.4636 - acc: 0.7920
Epoch 10/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.4555 - acc: 0.7931
Epoch 11/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.4606 - acc: 0.7946
Epoch 12/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.4598 - acc: 0.7940
Epoch 13/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.4651 - acc: 0.7943
Epoch 14/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.4583 - acc: 0.7947
Epoch 15/100
7000/7000 [==============================] - 1s 92us/sample - loss: 0.4825 - acc: 0.7926
Epoch 16/100
7000/7000 [==============================] - 1s 91us/sample - loss: 0.4802 - acc: 0.7920
Epoch 17/100
7000/7000 [==============================] - 1s 92us/sample - loss: 0.4679 - acc: 0.7919
Epoch 18/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.4631 - acc: 0.7933
Epoch 19/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4604 - acc: 0.7947
Epoch 20/100
7000/7000 [==============================] - 1s 92us/sample - loss: 0.4679 - acc: 0.7963
Epoch 21/100
7000/7000 [==============================] - 1s 92us/sample - loss: 0.4641 - acc: 0.7944
Epoch 22/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.4619 - acc: 0.7941
Epoch 23/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.4571 - acc: 0.7933
Epoch 24/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4653 - acc: 0.7964
Epoch 25/100
7000/7000 [==============================] - 1s 97us/sample - loss: 0.4619 - acc: 0.7967
Epoch 26/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4616 - acc: 0.7930
Epoch 27/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.4681 - acc: 0.7941
Epoch 28/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.4673 - acc: 0.7954
Epoch 29/100
7000/7000 [==============================] - 1s 91us/sample - loss: 0.4576 - acc: 0.7950
Epoch 30/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.4615 - acc: 0.7947
Epoch 31/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.4662 - acc: 0.7969
Epoch 32/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.4678 - acc: 0.7914
Epoch 33/100
7000/7000 [==============================] - 1s 92us/sample - loss: 0.4628 - acc: 0.7916
Epoch 34/100
7000/7000 [==============================] - 1s 90us/sample - loss: 0.4725 - acc: 0.7903
Epoch 35/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4966 - acc: 0.7877
Epoch 36/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4856 - acc: 0.7889
Epoch 37/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.4756 - acc: 0.7890
Epoch 38/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4663 - acc: 0.7884
Epoch 39/100
7000/7000 [==============================] - 1s 91us/sample - loss: 0.4589 - acc: 0.7890
Epoch 40/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4567 - acc: 0.7916
Epoch 41/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.4548 - acc: 0.7940
Epoch 42/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.4547 - acc: 0.7943
Epoch 43/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4566 - acc: 0.7934
Epoch 44/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4551 - acc: 0.7949
Epoch 45/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.4642 - acc: 0.7970
Epoch 46/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.4654 - acc: 0.7911
Epoch 47/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4581 - acc: 0.7931
Epoch 48/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.4612 - acc: 0.7931
Epoch 49/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.4611 - acc: 0.7949
Epoch 50/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.4645 - acc: 0.7954
Epoch 51/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.4599 - acc: 0.7947
Epoch 52/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4754 - acc: 0.7963
Epoch 53/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.4606 - acc: 0.7949
Epoch 54/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.4601 - acc: 0.7949
Epoch 55/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.4638 - acc: 0.7951
Epoch 56/100
7000/7000 [==============================] - 1s 92us/sample - loss: 0.4702 - acc: 0.7929
Epoch 57/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.4680 - acc: 0.7924
Epoch 58/100
7000/7000 [==============================] - 1s 90us/sample - loss: 0.4593 - acc: 0.7911
Epoch 59/100
7000/7000 [==============================] - 1s 92us/sample - loss: 0.4564 - acc: 0.7914
Epoch 60/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.4602 - acc: 0.7957
Epoch 61/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.4588 - acc: 0.7946
Epoch 62/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.4607 - acc: 0.7941
Epoch 63/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.4622 - acc: 0.7951
Epoch 64/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4620 - acc: 0.7943
Epoch 65/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.4658 - acc: 0.7946
Epoch 66/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4616 - acc: 0.7941
Epoch 67/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.4634 - acc: 0.7933
Epoch 68/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4696 - acc: 0.7953
Epoch 69/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.4658 - acc: 0.7944
Epoch 70/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.4655 - acc: 0.7940
Epoch 71/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4749 - acc: 0.7936
Epoch 72/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.4647 - acc: 0.7944
Epoch 73/100
7000/7000 [==============================] - 1s 97us/sample - loss: 0.4569 - acc: 0.7950
Epoch 74/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.4659 - acc: 0.7954
Epoch 75/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.4616 - acc: 0.7953
Epoch 76/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.4663 - acc: 0.7969
Epoch 77/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4630 - acc: 0.7957
Epoch 78/100
7000/7000 [==============================] - 1s 97us/sample - loss: 0.4647 - acc: 0.7933
Epoch 79/100
7000/7000 [==============================] - 1s 92us/sample - loss: 0.4598 - acc: 0.7947
Epoch 80/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4615 - acc: 0.7960
Epoch 81/100
7000/7000 [==============================] - 1s 91us/sample - loss: 0.4570 - acc: 0.7936
Epoch 82/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.4562 - acc: 0.7949
Epoch 83/100
7000/7000 [==============================] - 1s 92us/sample - loss: 0.4749 - acc: 0.7896
Epoch 84/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.4809 - acc: 0.7881
Epoch 85/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4861 - acc: 0.7884
Epoch 86/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4761 - acc: 0.7884
Epoch 87/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.4654 - acc: 0.7897
Epoch 88/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.4559 - acc: 0.7903
Epoch 89/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.4548 - acc: 0.7929
Epoch 90/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.4565 - acc: 0.7927
Epoch 91/100
7000/7000 [==============================] - 1s 92us/sample - loss: 0.4575 - acc: 0.7950
Epoch 92/100
7000/7000 [==============================] - 1s 90us/sample - loss: 0.4670 - acc: 0.7943
Epoch 93/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.4695 - acc: 0.7931
Epoch 94/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.4643 - acc: 0.7941
Epoch 95/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.4554 - acc: 0.7961
Epoch 96/100
7000/7000 [==============================] - 1s 91us/sample - loss: 0.4589 - acc: 0.7959
Epoch 97/100
7000/7000 [==============================] - 1s 92us/sample - loss: 0.4606 - acc: 0.7971
Epoch 98/100
7000/7000 [==============================] - 1s 92us/sample - loss: 0.4574 - acc: 0.7936
Epoch 99/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.4569 - acc: 0.7934
Epoch 100/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.4650 - acc: 0.7951

Predict the results using 0.5

In [38]:
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

Accuracy score and confusion matrix

In [0]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [43]:
cmatrix= confusion_matrix(y_pred, y_test)
cmatrix

array([[2364,  565],
       [  31,   40]])

In [45]:
classification_report(y_pred, y_test)

'              precision    recall  f1-score   support\n\n       False       0.99      0.81      0.89      2929\n        True       0.07      0.56      0.12        71\n\n    accuracy                           0.80      3000\n   macro avg       0.53      0.69      0.50      3000\nweighted avg       0.97      0.80      0.87      3000\n'