Loading libraries and loading data

In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
ticData=np.array([['SALESPERSON','Old Scheme (in thousands)','New Scheme (in thousands)'],[1,57,62],[2,103,122],[3,59,54],[4,75,82],[5,84,84],[6,73,86],[7,35,32],[8,110,104],[9,44,38],[10,82,107],[11,67,84],[12,64,85],[13,78,99],[14,53,39],[15,41,34],[16,39,58],[17,80,73],[18,87,53],[19,73,66],[20,65,78],[21,28,41],[22,62,71],[23,49,38],[24,84,95],[25,63,81],[26,77,58],[27,67,75],[28,101,94],[29,91,100],[30,50,68]])

In [3]:
ticData

array([['SALESPERSON', 'Old Scheme (in thousands)',
        'New Scheme (in thousands)'],
       ['1', '57', '62'],
       ['2', '103', '122'],
       ['3', '59', '54'],
       ['4', '75', '82'],
       ['5', '84', '84'],
       ['6', '73', '86'],
       ['7', '35', '32'],
       ['8', '110', '104'],
       ['9', '44', '38'],
       ['10', '82', '107'],
       ['11', '67', '84'],
       ['12', '64', '85'],
       ['13', '78', '99'],
       ['14', '53', '39'],
       ['15', '41', '34'],
       ['16', '39', '58'],
       ['17', '80', '73'],
       ['18', '87', '53'],
       ['19', '73', '66'],
       ['20', '65', '78'],
       ['21', '28', '41'],
       ['22', '62', '71'],
       ['23', '49', '38'],
       ['24', '84', '95'],
       ['25', '63', '81'],
       ['26', '77', '58'],
       ['27', '67', '75'],
       ['28', '101', '94'],
       ['29', '91', '100'],
       ['30', '50', '68']], dtype='<U25')

In [6]:
ticData1=pd.DataFrame(ticData[1:],columns=ticData[0],dtype=int)
ticData1.set_index('SALESPERSON',inplace=True)

In [7]:
ticData1

             Old Scheme (in thousands)  New Scheme (in thousands)
SALESPERSON
1                                   57                         62
2                                  103                        122
3                                   59                         54
4                                   75                         82
5                                   84                         84
6                                   73                         86
7                                   35                         32
8                                  110                        104
9                                   44                         38
10                                  82                        107
11                                  67                         84
12                                  64                         85
13                                  78                         99
14                                  53                         39
15                                  41                         34
16                                  39                         58
17                                  80                         73
18                                  87                         53
19                                  73                         66
20                                  65                         78
21                                  28                         41
22                                  62                         71
23                                  49                         38
24                                  84                         95
25                                  63                         81
26                                  77                         58
27                                  67                         75
28                                 101                         94
29                                  91                        100
30                                  50                         68

In [11]:
ticData1.mean()

Old Scheme (in thousands)    68.033333
New Scheme (in thousands)    72.033333
dtype: float64

In [14]:
Question-2
p Value

In [16]:
os=np.array(ticData1['Old Scheme (in thousands)'])
ns=np.array(ticData1['New Scheme (in thousands)'])

In [36]:
from scipy.stats import shapiro,levene,ttest_1samp
shapiro(os)
shapiro(ns)
levene(os,ns)

LeveneResult(statistic=1.063061539437244, pvalue=0.30679836081811235)

In [37]:
tstat,pval=ttest_1samp(ns-os,0)
pValue = round(pval/2,3)
pValue

0.065

Question-3
pValue Conclusion

In [39]:
#p value = 0.065 > 0.05 
#H0 should not be rejected.

for i in range(11):
    ttes,pval=ttest_1samp(ns-os,i)
    print("diffrence of {} is {} : Confidence {}% and reject H0 but not 95% ".format(i,round(pval,2),round(1-pval,2)))

diffrence of 0 is 0.13 : Confidence 0.87% and reject H0 but not 95%
diffrence of 1 is 0.25 : Confidence 0.75% and reject H0 but not 95%
diffrence of 2 is 0.44 : Confidence 0.56% and reject H0 but not 95%
diffrence of 3 is 0.7 : Confidence 0.3% and reject H0 but not 95%
diffrence of 4 is 1.0 : Confidence 0.0% and reject H0 but not 95%
diffrence of 5 is 0.7 : Confidence 0.3% and reject H0 but not 95%
diffrence of 6 is 0.44 : Confidence 0.56% and reject H0 but not 95%
diffrence of 7 is 0.25 : Confidence 0.75% and reject H0 but not 95%
diffrence of 8 is 0.13 : Confidence 0.87% and reject H0 but not 95%
diffrence of 9 is 0.06 : Confidence 0.94% and reject H0 but not 95%
diffrence of 10 is 0.03 : Confidence 0.97% and reject H0 but not 95%

Question-4
4.1 Probability of type 1 error

Here we took the alpha is 5%
Probability of type 1 error is 5%

4.2 : p- value of the hypothesis test when the diffrence is 5000

In [40]:
ttes,pval=ttest_1samp(ns-os,5)
pval= pval/2
pval

0.3500667456306643

In [41]:
critical=(np.mean(ns) - np.mean(os)) / np.sqrt(((30-1)*np.var(os,ddof=1)+(30-1)*np.var(ns,ddof=1)) / 30+30-2)

critical

0.12698746871003666

In [49]:
from statsmodels.stats.power import ttest_power
ttest_power(critical, nobs=30, alpha=0.5, alternative='smaller')

0.24335878601132613